@import '~antd/dist/antd.css';
.App {
  text-align: center;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.tip-info {
  color: #b5b5b5;
}

.mt-lg{
  margin-top: 26px;
}

.mb-lg{
  margin-bottom: 26px;
}

.mb{
  margin-bottom: 16px;
}